.DropZone {
    height: 100px;
    width: 50%;
    margin-left: 20px;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}
.FileInput {
    width: 50%;
}
